:root {
	--color: 17, 17, 17;
}

html {
	font-size: 16px;
	font-family: sans-serif;
	color: rgb(var(--color));
}

body {
	padding: 2rem;
}

button {
	cursor: pointer;
	border-radius: 6px;
	padding: 0.2rem 0.5rem;
	border: 1px solid rgba(var(--color), 0.2);
	background-color: rgba(var(--color), 0.25);

	/* when clicked */
	&:active {
		background-color: rgba(var(--color), 0.32);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: 255, 255, 255;
	}

	html {
		background-color: #111;
		color-scheme: light dark;
	}
}
